.profile-container {
	background: white;
	min-height: 100vh;
}

.profile-wrapper-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-wrapper-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 3em;
	background: #dcdcdc42;
}

.profile-wrapper-title {
	display: flex;
	justify-content: center;
}

.profile-title {
	font-size: 40px;
	padding: 10px;
	border-bottom: 2px solid black;
	margin-bottom: 1em;
	text-align: center;
}

.profile-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0;
}

.profile-row-title {
	padding-right: 0.5em;
	font-size: 20px;
	font-weight: 500;
}

.profile-row-result {
	padding-right: 1em;
	font-size: 18px;
}

.profile-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 1em 0;
	width: 70%;
}

.profile-column-title {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 1em;
}

@media only screen and (max-width: 500px) {
	.sign-button-container {
		margin: auto;
	}
	.profile-wrapper-container {
		display: block;
	}
	.profile-wrapper-info {
		background: none;
	}
}
